@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  color: white; }

.header-photo {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

nav {
  display: flex;
  align-items: stretch; }
  nav a img {
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 0;
    height: 60px;
    transform: translate(10px, 10px); }
  nav div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 0; }
    nav div button {
      border: 1px solid RGBA(255, 255, 255, 0.6);
      color: white;
      background: transparent;
      height: 50px;
      width: 140px;
      border-radius: 5px;
      font-size: 16px;
      margin: 10px 20px 0 0;
      font-family: "Roboto", sans-serif;
      transition: .5s; }
    nav div button:hover {
      background-color: RGBA(255, 255, 255, 0.3);
      border: none; }
    nav div a:nth-of-type(3) {
      text-decoration: none; }
    nav div img, nav div #mobile-button {
      height: 80px;
      display: none;
      margin: 20px 20px;
      transition: all .5s;
      transform: rotate(0deg); }

.language-button {
  border: none;
  font-size: 16px;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  color: RGBA(255, 255, 255, 0.3);
  width: 30px; }

.languages {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  margin-top: 105px;
  background-color: RGBA(255, 255, 255, 0.6);
  text-align: center;
  font-size: 20px;
  border-radius: 5px; }
  .languages a {
    font-family: "Roboto", sans-serif;
    color: RGBA(6, 176, 125, 1);
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; }

.show {
  display: block;
  animation-name: slidein;
  animation-duration: 1s;
  transform: translateY(70px); }

@keyframes slidein {
  from {
    right: -100px; }
  to {
    right: 0; } }
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }

.phone-image {
  transform: translate(300px, -20px); }

.information {
  transform: translate(70px, -20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif; }
  .information hr {
    width: 80px;
    opacity: .5;
    border: 1px solid white;
    margin-bottom: 15px; }
  .information .scroll-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .information p:nth-of-type(1) {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    color: RGBA(255, 255, 255, 0.6); }
  .information p:nth-of-type(2) {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px; }
  .information p:nth-of-type(3) {
    text-align: center;
    font-size: 30px; }

.download-buttons {
  display: flex;
  margin-top: 15px; }
  .download-buttons a {
    border: none;
    background: white;
    height: 50px;
    width: 140px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    transition: .5s;
    color: RGBA(105, 129, 184, 1);
    transform: translateY(15px); }
    .download-buttons a img {
      transform: translateX(-5px); }
    .download-buttons a span {
      transform: translateX(5px); }
      .download-buttons a span strong {
        font-weight: bold; }
  .download-buttons a:hover {
    background-color: white;
    color: RGBA(6, 176, 125, 1); }

.scroll-buttons {
  transform: translateX(-20px);
  display: flex;
  flex-direction: column; }
  .scroll-buttons button {
    border: none;
    color: white;
    cursor: pointer;
    background-color: transparent;
    font-size: 15px;
    opacity: 0.5; }

.bright-dot {
  opacity: 1 !important; }

.app-button {
  display: none; }

footer {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: RGBA(173, 173, 173, 1);
  transform: translateY(30px); }
  footer p, footer div {
    display: inline; }
  footer p {
    margin-left: 15px; }
  footer div:nth-of-type(1) a {
    text-decoration: none;
    color: RGBA(173, 173, 173, 1);
    cursor: pointer; }
  footer div:nth-of-type(2) {
    margin-right: 15px; }
    footer div:nth-of-type(2) a {
      margin-right: 10px; }

.mobile-footer {
  display: none; }

/*# sourceMappingURL=main.css.map */
